{% extends 'base.html' %}

{% block title %}Welcome to Quiz Master{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Quiz Master</h1>
    <p class="lead">Test your knowledge with our quizzes!</p>
    <hr class="my-4">
    <p>Join now to start taking quizzes and track your progress.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
</div>
{% endblock %}
